<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name='academy.Listeners'/>
</listeners>
         <test thread-count="5" name="Test1" parallel="tests">
    <classes>
      <class name="academy.HomepageTest"/>
       </classes>
        </test>
            <test thread-count="5" name="Test2">
    <classes>
      <class name="academy.Assertvalidation"/>
        </classes>
        </test>
                 <test thread-count="5" name="Test4">
    <classes>
      <class name="academy.LoginpageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
